body{
	margin: 0;
	padding: 0;
	font-family: Calibri;
	background-image: url(heartp.jpeg);
	background-attachment: fixed; 
	height: 100vh;
	background-size: cover;
	background-position: center;
}
header{
	background-image:url(heartp.jpeg);
	background-attachment: fixed; 
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.q1
{

	width:1450px;
	height:970px;
	background-color:black;
	background:rgba(0,0,0,0.6);
	color:white;
	position:absolute;
	left:7%;
	top:5%;
	padding:70px 30px;
	box-sizing: border-box;
	border-radius: 10px;

}


.quote1
{

	position:relative;
	left:0%;
	top:1%;
	
}

